#frame1 {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

#frame1 iframe {
	top:0;
    left: 0;
    position: absolute;
}

#frame2 {
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

#frame2 iframe {
	top:0;
    left: 0;
    position: absolute;
}