body {
    background: black;
}

.frame {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-top: 100px;
    margin-left: 50px;
    top: 0;
    left: 0;
    padding: 40px;
    opacity: .9;
    transform: rotate(45deg);
}